@import './fonts.css';
@import 'tailwindcss';
@import './utils.css';
@plugin "@tailwindcss/typography";

/* Safelist classes */
@source inline("col-span-2");
@source inline("col-span-3");
@source inline("col-span-4");
@source inline("col-span-6");

@theme {
    /* Custom fonts */
    --font-serif: Erode-Variable, serif;
    --font-display: Tanker-Regular, sans-serif;

    /* Animations */
    --animate-grid: grid 15s linear infinite;
}

@custom-variant footer {
    @media screen and (min-width: 1024px) and (min-height: 800px) {
        @slot;
    }
}

html {
  font-family: var(--font-serif);
}

@keyframes grid {
    0% {
        transform: translateY(-20%);
    }
    100% {
        transform: translateY(0);
    }
}
