@layer base {
	@font-face {
		font-family: 'Geist';
		src: url('../assets/fonts/Geist/Geist-Regular.woff2') format('woff2');
		font-weight: 400;
	}

	@font-face {
		font-family: 'Geist';
		src: url('../assets/fonts/Geist/Geist-Medium.woff2') format('woff2');
		font-weight: 500;
	}

	@font-face {
		font-family: 'Geist';
		src: url('../assets/fonts/Geist/Geist-Bold.woff2') format('woff2');
		font-weight: 700;
	}
}
